body {
    /* height: 100vh;
    background: linear-gradient(to right, #bdc3c7, #2c3e50); */
    /* background-image: url(img/background1.jpeg));
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button {
    width: 180px;
    padding: 15px;
    background-color: #c7c1bd;
}
#container {
    margin-top: 12%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    
}
#header {
    padding: 15px;
}
h3 #git{
    float: right; 
    position: fixed;
    bottom: 0;
    right: 0;
}
h3 #copyright{
    float: left;
    position: fixed;
    bottom: 0;
}
h3 #footer{
    background-color: white;
}
#description{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}